@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Main brand colors */
  --brand-primary-green: #26AA26;
  --brand-primary-orange: #FFA233;
  --brand-primary-purple: #7031BA;
  --brand-primary-pink: #EE0C9D;
  --brand-primary-blue: #33A1DC;

   /* Carousel Colors */
  --carousel-spot:#7B61FF;
  --carousel-gray: #C4C4C4;
  --carousel-green: #3EF426;
  --carousel-black: #0B0B0B;

  /* Basic Colors */
  --white: #FFFFFF;
  --black: #000000;
  --light-gray: #D9D9D9;
  --light-purple: #8A38F5;

  /* Colors for different types of text */
  --text-white: #FDFDFE; 
  --text-gray: #3D3D3D;
  --text-phrase:#575757;
  --text-author: #A7A7A7;

  /* Colors boxes */
  --boxes-gray: #F3F3F3;
  --boxes-light-gray: #F2F2F2;

  /* Colors Sliders */
  --slider-white: #E6E6E6;
}

.bg-white {
  background-color: var(--background);
}

.text-gray {
  color: var(--text-phrase);
}

.text-lightGray {
  color: var(--text-author);
}

.bg-blue {
  background-color: var(--brand-primary-blue);
}

.bg-pink {
  background-color: var(--brand-primary-pink);
}

.bg-green {
  background-color: var(--brand-primary-green);
}

.text-blue {
  color: var(--brand-primary-blue);
}

.text-green {
  color: var(--brand-primary-green);
}

.text-orange {
  color: var(--brand-primary-orange);
}

.text-purple {
  color: var(--brand-primary-purple);
}

.text-pink {
  color: var(--brand-primary-pink);
}

.bg-purple {
  background-color: var(--brand-primary-purple);
}

.bg-orange {
  background-color: var(--brand-primary-orange);
}

.bg-blue {
  border-color: var(--brand-primary-blue); 
}

.primary-button {
  background-color: var(--brand-primary-blue);
  border-color: var(--brand-primary-blue);
  color: var(--text-white);
}

.primary-button:hover {
  background-color: var(--white);
  border-color: var(--brand-primary-blue);
  color: var(--brand-primary-blue);
}

/* @media (prefers-color-scheme: dark) { // TODO: This page is not yet ready to handle dark mode
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-roboto), var(--font-inter);
}
